*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  background-color: $color-primary;
  color: $color-gray-light-1;
}

::-webkit-scrollbar { width: 17px }
::-webkit-scrollbar-thumb { background: $color-primary }
::-webkit-scrollbar-thumb:hover { background: $color-primary-dark }
::-webkit-scrollbar-track { background-color: $color-gray-light-1 }

html {
  font-size: 62.5%;
  scrollbar-color: $color-primary $color-gray-light-1;
  scroll-behavior: smooth;

  @include respond(tab-land) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-size: $default-font-size;
  line-height: 1.6;
  font-weight: 300;
  font-family: $font-primary;
  color: $color-gray-dark-2;
}

a:visited { color: currentColor }

.container {
  display: grid;
  grid-template-rows: 75vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

  @include respond(tab-port) {
    grid-template-rows: [sidebar-start] 6.5rem [sidebar-end] 75vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }
  
  @include respond(phone-big) {
    grid-template-rows: [sidebar-start] 6.5rem [sidebar-end] calc(82vh - 6.5rem);
  }
}