*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::selection {
  background-color: #c69963;
  color: #f9f7f6; }

::-webkit-scrollbar {
  width: 17px; }

::-webkit-scrollbar-thumb {
  background: #c69963; }

::-webkit-scrollbar-thumb:hover {
  background: #B28451; }

::-webkit-scrollbar-track {
  background-color: #f9f7f6; }

html {
  font-size: 62.5%;
  scrollbar-color: #c69963 #f9f7f6;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  font-family: "Nunito", sans-serif;
  color: #6D5D4B; }

a:visited {
  color: currentColor; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  align-items: flex-start; }
  .features__feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1.5rem 2.5rem; }
  .features__icon {
    fill: #c69963;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .features__text {
    font-size: 1.7rem; }

.gallery {
  background-color: #54483A;
  grid-column: full-start / full-end; }

.homes {
  background-color: #101d2c;
  grid-column: center-start / center-end; }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end; }

.story__pictures {
  background-color: #c69963;
  grid-column: full-start / col-end 4; }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end; }

.header {
  background-color: #54483A;
  grid-column: full-start / col-end 6; }

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end; }
