.header {
  grid-column: full-start / col-end 6;

  background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  padding: 4rem 8rem 8rem;

  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  gap: 1.5rem 0;
  justify-content: center;
  
  @include respond(phone-big) {
    grid-column: full-start / full-end;
    background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url(../img/hero-sm.jpg);

    @media only screen and (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2){
      background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url(../img/hero.jpg);
    }
  }
    
  @include respond(phone) {
    padding: 5rem;
  }

  &__logo {
    height: 3rem;
    justify-self: center;

    @include respond (phone-small) {
      justify-self: start;
    }
  }

  &__seenon {
    &-text {
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      justify-content: center;
      align-items: center;
      gap: 0 1.5rem;

      font-size: 1.6rem;
      color: $color-gray-light-2;

      &:before, &:after {
        content: "";
        height: 1px;
        background-color: currentColor
      }
    }
  
    &-logos {

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0 3rem;
      justify-items: center;
      align-items: center;
  
      img {
        max-height: 2.5rem;
        max-width: 100%;
        filter: brightness(70%);
  
        @include respond(phone-big) {
          max-height: 3rem;
        }
      }

      @include respond (phone-small) {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem 5rem;
        justify-items: flex-start;
      }
    }
  }
}